{
  "c1" : "終了時刻・時",
  "end_hour": "20",

  "c2" : "終了時刻・分",
  "end_minite": "00",

  "c3" : "累積時間",
  "ruiseki" : "0:00",

  "c4" : "業務内容",
  "task_name": "問い合わせ対応",

  "c5" : "納期",
  "nouki": "04/30",

  "c6" : "工数",
  "kousu": "1",

  "c7" : "進捗率",
  "progress": "50",

  "c8" : "理由",
  "reason": "問い合わせ調査"

}
